/* Preline Variants (optional, only if you use it) */
@import "../../node_modules/preline/variants.css";

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to your CSS */
#cursor {
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}


    @keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}


